body {
    text-align: center;
    font-family: fantasy;
}

.info{
  padding-top: 1em;
  width: 505px;
  position: relative;
  margin:auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.score, .live{
  font-size: 1em;
  font-weight: bold;
  width:42.5%;
}

.charChoose{
  height: 60px;
  width: 15%;
  background:no-repeat bottom/80% url('/Users/sharonlee/Documents/ProgramSpace/project-FrontEndBasic/javascript/arcadeProject/frontend-nanodegree-arcade-game/images/Selector.png');
  border:none;
  cursor: pointer;
  position: relative;
}

#popup{
  display:none;
  top:1px;
  position: absolute;
  font-size:0.7em;
  font-family: fantasy;
  color: #595959;
  font-weight: bold;
}
